@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
  --gelo: #D8D4C9;
  --lightBrown: #B28E6C;
  --darkBrown: #846F5E;
  --black: #0c0b0b;

  --poppins: 'Poppins', sans-serif;
}
*{
  margin:0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  color: var(--black);
}
html{
  background-color: var(--gelo);
}
