form{
  text-align: left;
  margin: 0.5em;
}input{
  border: none;
  background-color: var(--gelo);
  border-radius: 0.5em;
  width: 80%;
  height: 35px;
}button{
  padding:0.7em;
  border: none;
  background-color: var(--darkBrown);
  border-radius: 0.5em;
  margin-top: 1em;
}p{
  text-align: left;
  margin-left: 0.5em;
}.forget{
  font-size: 0.8em;
  cursor: pointer;
  text-decoration: none;
  color:var(--gelo);
}.forget:hover{
  background-color: var(--darkBrown);
  padding: 0.2em;
  border-radius: 4px;
  text-decoration: underline;
}


